<div class="row">
  <div class='col-xs-4'>
      <div style="text-align: center;">
        <%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no-image.png",size: "130x130") %>
      </div>
        <h3 style="text-align: center;">
          <strong><%= @user.name %></strong>
        </h3>

    <h4 style="text-align: center; margin-top: 30px;">
      <strong class="profile">プロフィール</strong>
    </h4>
    <div style="border:groove; 3px #696969; background-color: #fff;min-height: 80px;font-size: 15px;">
      <%= @user.introduction %>
    </div>

    <div style="text-align: center;margin-top: 20px;color: blue;">
      <%= link_to 'プロフィール編集',edit_user_path(@user), :style=>"text-decoration: none;", class: "bottom edit_user_#{@user.id} " %>
    </div>
  </div>
</div>
