<div id="top"></div>

<div class="wrap">
 <div class="hero">
  <h1>Scroll CSS Animation</h1>
 </div>

 <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi id est a nulla soluta corporis nemo aperiam nisi sed repellendus rerum cumque voluptates nam, quia, iste deserunt dolore tempora voluptate?</h1>

 <h2>Scroll ↓</h2>

 <div class="animation">
  <div class="anm_mod">
   anm_mod
  </div>
  <div class="anm_mod delay">
   anm_mod delay
  </div>
 </div>

 <div class="animation">
  <div class="anm_mod full">
   anm_mod full
  </div>
 </div>

 <div class="animation">
  <div class="anm_mod left fast">
   anm_mod left fast
  </div>
  <div class="anm_mod right delay">
   anm_mod right delay
  </div>
 </div>

 <div class="animation">
  <div class="anm_mod full fast">
   anm_mod full fast
  </div>
 </div>

 <div class="animation">
  <div class="anm_mod left delay">
   anm_mod left delay
  </div>
  <div class="anm_mod right fast">
   anm_mod right fast
  </div>
 </div>

 <div class="animation">
  <div class="anm_mod full delay">
   anm_mod full delay
  </div>
 </div>

 <div class="org_to_top">
  <a href="#top">
   <div class="m_to_top">
    ↑
   </div>
  </a>
 </div>

</div>