<div id="top"></div>

<div class="wrap">
  <div class="hero">
    <h1>Welcome to Muscle Note</h1>
  </div>



  <div class="animation">
    <div class="anm_mod">
      anm_mod
    </div>
    <div class="anm_mod delay">
      anm_mod delay
    </div>
  </div>

  <div class="animation">
    <div class="anm_mod full">
      <div class="row">
        <div class="col-lg-6">
          ああああああああああああああああああああああああああああああああああああ
        </div>
        <div class="col-lg-6">
          ここで切り替わるよあああああああああああああああああああああああ
        </div>
      </div>
    </div>
  </div>

  <div class="animation">
    <div class="anm_mod left fast">
      <%= link_to new_user_registration_path do %>
      新規登録の方は　こちらへ
      <% end %>
    </div>
    <div class="anm_mod right delay">
      <%= link_to new_user_session_path do %>
      登録済みの方は　こちらへ
      <% end %>
    </div>
  </div>

  <div class="org_to_top">
    <a href="#top">
      <div class="m_to_top">
      ↑
      </div>
    </a>
  </div>

</div>